div.form-groups{
    width:100%;
    height:auto;
    font-size:0;
    overflow: hidden;
    background-color: #f8f9fa;
    border:1px solid #dee2e6;
    margin-bottom:1.5rem
}
div.form-groups>div.form-item{
    vertical-align: top;
    display: inline-block;
    width:20%;
    height:auto;
    white-space: nowrap;
    margin-top:0.8rem;
    padding-left: 15px;
    line-height: 2.0rem;
}
div.form-groups>div.form-item>label{
    display: inline-block;
    width:25%;
    height:2.0rem;
    line-height:1.3rem;
    font-size:.875rem;
    font-weight: 400;
    vertical-align: top;
    text-align: right;

}
div.form-groups>div.form-item>input{
    vertical-align: top;
    margin-left:5%;
    width:65%;
    margin-top: -5px;
    height:2.0rem;
    box-sizing: border-box;
    padding:0 0.3rem;
    /*background-color: #1f4b52;*/
    background-color: #ffffff;
    /*opacity: 0.2;*/
    border:1px solid #ffffff;
    color:black;
    font-size:.875rem;
}
div.form-groups>div.form-item>select{
    vertical-align: top;
    margin-left:5%;
    width:65%;
    height:1.3rem;
    box-sizing: border-box;
    padding:0 0.3rem;
    background-color: #1f3781;
    /*opacity: 0.2;*/
    border:1px solid #1f3781;
    color:#FFFFFF;
    font-size:.875rem;
}
div.form-groups>div.form-item>button{
    width:3rem;
    height:2.0rem;
    background-color: #34475b;
    border:none;
    border-radius:0.1rem;
    margin-top: -5px;
    color:#FFFFFF;
    font-size:.875rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;;
    /*margin-left:0.7rem;*/
    margin-left: 15px;
}
/*编辑弹窗*/
div.edit{
    display: none;
    width:25rem;
    height:20rem;
    position: absolute;
    left:50%;
    top:50%;
    z-index:20;
    background-color:#b2b6a4;
    border:1px solid #1f3781;
    margin-left:-8rem;
    margin-top:-8rem;
    box-sizing: border-box;
    padding:0 1rem;
}
div.edit>h1{
    color:#FFFFFF;
    font-size:0.6rem;
    line-height:2.6rem;
}
div.edit-item{
    width:100%;
    height:2.3rem;
    box-sizing: border-box;
    padding:0.5rem 0;
    font-size:0;
    text-align: center;
}
div.edit-item>label{
    vertical-align: middle;
    display: inline-block;
    width:22%;
    height:1.3rem;
    line-height:1.3rem;
    color:#000000;
    font-size:0.5rem;
    text-align:right;
}
div.edit-item>input{
    vertical-align: middle;
    width:74%;
    margin-left:4%;
    height:1.3rem;
    color:#000000;
    font-size:0.5rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    /*opacity: 0.2;*/
    border:1px solid #1f3781;
    padding-left: 0.3rem;
}
div.edit-item>select{
    vertical-align: middle;
    width:74%;
    margin-left:3%;
    height:1.3rem;
    color:#000000;
    font-size:0.5rem;
    box-sizing: border-box;
    background-color: #FFFFFF;
    /*opacity: 0.2;*/
    border:1px solid #1f3781;
    padding-left: 0.3rem;
}
div.edit-item>button{
    width:3rem;
    height:1.3rem;
    font-size:0.57rem;
    border:none;
    background-color: #465853;
    color:#FFFFFF;
    border-radius:0.1rem;
    margin-right:0.6rem;
}