<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <!-- 自适应屏幕分辨率-->
    <meta name="viewport" content="width=device-width,inital-scale=1">


    <link rel="stylesheet" href="../../css/util/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/module/frontSite/HomePage.css">
    <link rel="stylesheet" href="../../css/module/frontSite/UserCenter.css">
    <!-- 首页-->
    <title>个人中心</title>
</head>
<body>
<div class="container">
    <!--开店弹窗-->
    <div class="logIn" id="addShopFloat" style="display: none">
        <div style="height: 30px;">
            <h4><strong>申请开店</strong></h4>
        </div>
        <div>
            <label for="">店铺名:</label>
            <input type="text" id="shopName">
        </div>
        <div>
            <label for="">店主名:</label>
            <input type="text" id="shopUserName">
        </div>
        <div>
            <label for="">发货地:</label>
            <input type="text" id="shopAddress">
        </div>
        <div style="text-align: center">
            <button id="addShopInfo" class="btn btn-info" style="margin-right: 30px">确认开店</button>
            <button class="btn btn-warning cancel" style="margin-left: 30px">取消</button>
        </div>
    </div>
    <!--评论弹窗-->
    <div class="logIn" id="pinglun" style="width: 320px;height: 130px;display:none;background-color: #e0e0e0">
        <div>
            <textarea name="" id="" cols="30" rows="10" style="width: 320px;margin-top:0px;height: 100px"></textarea>
            <button class="cancel" style="float: right">评论</button>
            <button class="cancel" style="float: right">取消</button>
        </div>
    </div>
    <!-- 导航栏-->
    <nav class="navbar navbar-default row">
        <div class="col-md-10 col-md-offset-1">
            <div class="navbar-header navdiv">
                <a href="#" class="navbar-brand"> 图标</a>
            </div>
            <div class="navbar-left" style="margin-top: 10px">
                <ul class="nav nav-pills">
                    <li class="navulli"><a href="#" id="homePage">首页</a></li>
                    <li class="navulli"><a href="#" id="communityCenter">精选社区</a></li>
                    <li class="navulli dropdown" style="margin-left: 15px">
                        <a href="#" id="shopCenter" class="dropdown-toggle" data-toggle="dropdown">
                            商家中心<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="addShop">申请开店</a></li>
                            <!--分割符-->
                            <li class="divider"></li>
                            <li><a href="#" id="ownShop">已有店铺</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar navbar-left navdiv">
                <ul class="nav nav-pills">
                    <li class="active navulli">
                        <a href="#" id="userCenter">个人中心</a>
                    </li>
                </ul>
            </div>
            <!--搜索框-->
            <div class="navbar-left" style="margin-top: 10px">
                <form class="navbar-form " role="search">
                    <div class="input-group">
                        <input type="text" id="searchContent" placeholder="请输入搜索内容"/>
                        <span class="input-group-btn">
                                <button class="btn btn-default" id="searchPro" type="button" style="height: 26px;">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true" style=""></span>
                                </button>
                            </span>
                    </div>
                </form>
            </div>
            <div class="navbar navbar-right" style="margin-top: 10px">
                <ul class="nav nav-pills">
                    <li class="navulli">
                        <a href="logIn.html" id=""><span class="glyphicon glyphicon-user"></span>登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 登录弹窗-->
    <div id="logIn" class="logIn" style="display: none;">
        <div class="form-group">
            <div class="form-control">
                <img src="../../images/symbol/window-close-symbolic.png" alt="关闭图标" id="close" class="signClose"/>
            </div>
        </div>
        <form action="" class="form-horizontal" style="padding-top: 20px">
            <div class="form-group">
                <label class="col-md-3 control-label" id="foruserName" for="userName">账号</label>
                <div class="col-md-8">
                    <input type="text" id="userName" class="form-control" aria-describedby="foruserName" placeholder="请输入账号" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="password">密码</label>
                <div class="col-md-8">
                    <input type="text" id="password" class="form-control" placeholder="请输入账号" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-md-offset-1">
                    <label><a href="">忘记密码</a></label>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <label><a href="">注册帐号</a></label>
                </div>
            </div>
            <button class="btn btn-primary btn-block">登录</button>
        </form>
    </div>
    <!-- 注册弹窗-->
    <div id="register" class="logIn" style="display: none">
        <div class="form-group">
            <div class="form-control">
                <img src="../../images/symbol/window-close-symbolic.png" alt="关闭图标" onclick="close" class="signClose"/>
            </div>
            <form action="" class="form-horizontal" style="padding-top: 20px">
                <div class="form-group">
                    <label class="col-md-3 control-label" id="regusername" for="userName">注册号码</label>
                    <div class="col-md-8">
                        <input type="text" id="regname" class="form-control" aria-describedby="regusername" placeholder="请输入账号" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password">密码</label>
                    <div class="col-md-8">
                        <input type="text" id="regpwd" class="form-control" placeholder="请输入账号" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password">确认密码</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="请输入账号" />
                    </div>
                </div>

                <button class="form-control btn btn-default">注册</button>
            </form>
        </div>

    </div>

    <!--个人中心-->
    <div>
        <div class="container row" style="background-color: #E9E8E8">
            <!--左侧导航-->
            <div class="col-md-3">
                <div class="choseBack">
                    <div class="chose">
                        <a href="#" class="choseInfo" choseInfo="1">个人资料</a>
                    </div>
                    <div class="chose">
                        <a href="#" class="choseInfo" choseInfo="2">个人订单</a>
                    </div>
                    <div class="chose">
                        <a href="#" class="choseInfo" choseInfo="3">购物车</a>
                    </div>
                    <div class="chose">
                        <a href="#" class="choseInfo" choseInfo="4">个人好友</a>
                    </div>
                    <div class="chose">
                        <a href="#" class="choseInfo" choseInfo="5">个人收藏</a>
                    </div>
                    <!--<div class="chose">-->
                        <!--<a href="#" class="choseInfo" choseInfo="6">个人消息</a>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-9 form-group" id="showInfo">
                <div class=" ">
                    <div class="edit" id="tips" style="display: none;"></div>
                    <!--个人资料-->
                    <div class="edit" id="userInfo" style="display: none;"></div>
                    <script id="userInfoTmpl" type="text/x-jsrender">
                       <h1>个人资料</h1>
                       <div class="edit-item">
                           <label for="">用户账号</label>
                           <input type="text" id="editAccount" value="{{:userAccount}}" readonly/>
                       </div>
                       <div class="edit-item">
                           <label for="">用户名称</label>
                           <input type="text" id="editName" value="{{:userName}}"/>
                       </div>
                       <!--<div class="edit-item">-->
                           <!--<label for="">帐号密码</label>-->
                           <!--<input type="password" id="editPassword" value="123456" />-->
                       <!--</div>-->
                       <div class="edit-item">
                           <label for="">用户性别</label>
                           <select name="editSexy" id="editSexy">
                           {{if userSexy =='F'}}
                           <option value="F">女</option>
                           <option value="M">男</option>
                           {{else}}
                           <option value="M">男</option>
                           <option value="F">女</option>
                           {{/if}}
                           </select>
                           <!--<input type="text" id="editSexy" value="{{:userSexy}}"/>-->
                       </div>
                       <div class="edit-item">
                           <label for="">用户手机号</label>
                           <input type="text" id="editPhone" value="{{:userPhoneNum}}"/>
                       </div>
                       <div class="edit-item">
                           <label for="">用户邮箱</label>
                           <input type="text" id="editEmail" value="{{:userEmail}}"/>
                       </div>
                       <!--<div class="edit-item">-->
                           <!--<label for="">用户帐号状态</label>-->
                           <!--<input type="text" id="userStatus" value="{{:userAccountStatus}}"/>-->
                       <!--</div>-->
                       <div class="edit-item">
                           <label for="">用户积分</label>
                           <input type="text" id="editScore" value="{{:userIntegral}}分" readonly/>
                       </div>
                       <div class="edit-item">
                           <label for="">用户等级</label>
                           <input type="text" id="editLevel" value="{{:userLevelId}}" readonly/>
                       </div>
                       <div class="edit-item row" style="margin-top: 20px">
                           <div class="col-md-6" style="text-align: right">
                               <button id="editUserSave" class="btn btn-info" style="margin-right: 40px">保存</button>
                           </div>
                            <div class="col-md-6">
                                <button class="cancel btn btn-warning" style="margin-left: 10px">取消</button>
                            </div>
                       </div>
                       </script>
                    <!--订单信息-->
                    <div class="edit" id="orderInfo" style="display: none;">
                        <h1>订单记录</h1>
                        <!--订单类型-->
                        <div>
                            <div>
                                <nav>
                                    <ul id="navli">
                                        <li><div><span class="getorderByType" orderType="">全部订单</span></div></li>
                                        <li><div><span class="getorderByType" orderType="0">已完成订单</span></div></li>
                                        <li><div><span class="getorderByType" orderType="1">待发货</span></div></li>
                                        <li><div><span class="getorderByType" orderType="2">待收货</span></div></li>
                                        <li><div><span class="getorderByType" orderType="3">待评价</span></div></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="table-responsive" style="margin-left: 47px">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <td>订单编号</td>
                                    <td>商品名</td>
                                    <td>商品价格</td>
                                    <td>商品数量</td>
                                    <td>交易价格</td>
                                    <td>订单状态</td>
                                    <td style="text-align: center">操作</td>
                                </tr>
                                </thead>
                                <tbody id="orderInfoShow"></tbody>
                                <script type="text/x-jsrender" id="orderInfoTmpl">
                                    <tr>
                                    {{for}}
                                    <td>{{:userOrdeId}}</td>
                                    <td>{{:commodityName}}</td>
                                    <td>{{:commodityprice}}</td>
                                    <td>{{:commodityNumber}}</td>
                                    <td>{{:orderMoney}}</td>
                                    <td>
                                        {{if orderStatus=='0'}}已完成
                                        {{else orderStatus=='1'}}未发货
                                        {{else orderStatus=='2'}}未收货
                                        {{else orderStatus=='3'}}未评价
                                        {{/if}}
                                    </td>
                                    <td style="text-align:center">
                                        <button class="btn btn-warning btn-sm delOrder" orderId="{{:userOrdeId}}">删除</button>
                                        <button class="btn btn-info btn-sm accetpOrder" orderId="{{:userOrdeId}}">收货</button>
                                        <button class="btn btn-info btn-sm content" orderId="{{:userOrdeId}}">评价</button>
                                    </td>
                                    {{/for}}
                                    </tr>
                                </script>
                            </table>
                        </div>
                        </div>
                    </div>
                    <!--购物车信息-->
                    <div class="edit" id="shopCart" style="">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <!--设置td宽度-->
                                <colgroup>
                                    <col width="30%">
                                    <col width="13%">
                                    <col width="17%">
                                    <col width="13%">
                                    <col width="25%">
                                </colgroup>

                                <thead id="shopCartHead">
                                <tr>
                                    <td style="width: 30%">商品信息</td>
                                    <td>商品价格</td>
                                    <td>商品数量</td>
                                    <td>金额</td>
                                    <td style="text-align: center">操作</td>
                                </tr>
                                </thead>
                                <tbody id="shopCartInfo">
                                <tr>
                                    <td style="width: 30%">Nike</td>
                                    <td>￥999</td>
                                    <!--商品数量加减-->
                                    <td>
                                        <div class="row">
                                            <div class="input-group col-md-7" style="width: 100px;">
                                            <span class="input-group-btn subCount" id="subCount">
                                                <button class="btn btn-default" type="button">
                                                        <span aria-hidden="true">-</span>
                                                </button>
                                            </span>
                                                <input type="text" id="proCount" class="form-control proCount" value="1" style="text-align: center;padding-left: 2px;height: 21px;"/>
                                                <span class="input-group-btn addCount" id="addCount">
                                                    <button class="btn btn-default" type="button">
                                                        <span aria-hidden="true">+</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>￥2997</td>
                                    <td>
                                        <button class="btn btn-warning removeShopCart">移除</button>
                                    </td>
                                </tr>
                                </tbody>
                                <script id="shopCartInfoTmpl" type="text/x-jsrender">
                                    <tr>
                                    {{for}}
                                        <td shopName="{{:shopName}}" style="padding-top:12px;">{{:commodityName}}</td>
                                        <td style="padding-top:12px;">{{:commodityPrice}}</td>
                                        <td><div class="row">
                                            <div class="input-group col-md-7" style="width: 100px;">
                                            <span class="input-group-btn subCount" id="subCount">
                                                <button class="btn btn-default" type="button">
                                                        <span aria-hidden="true">-</span>
                                                </button>
                                            </span>
                                            <input type="text" id="proCount" class="form-control proCount" value="{{:commodityNum}}" style="text-align: center;padding-left: 2px;height: 21px;"/>
                                            <span class="input-group-btn addCount" id="addCount">
                                                <button class="btn btn-default" type="button">
                                                    <span aria-hidden="true">+</span>
                                                </button>
                                            </span>
                                            </div>
                                        </div></td>
                                        <td style="padding-top:12px;">￥{{:shopTrolleyExt}}</td>
                                        <td>
                                            <button class="btn btn-info btn-sm buy"  shopAccount="{{:shopAccount}}" proId="{{:commodityId}}">立即购买</button>
                                            <button class="btn btn-warning btn-sm removeShopCart" shopCartId="{{:shopTrolleyId}}" style="margin-left:10px;">移除</button>
                                        </td>
                                    {{/for}}
                                    </tr>
                                </script>
                            </table>
                        </div>
                    </div>
                    <!--好友列表-->
                    <div class="edit" id="friend" style="display: none;margin-top: 20px">
                        <h1>好友列表</h1>
                        <div>
                            <div>
                                <ul class="friendInfo" id="friendInfoShow"></ul>
                                <script id="friendInfoShowTmpl" type="text/x-jsrender">
                                {{for}}
                                <li>
                                <div class="row">
                                    <div class="col-md-5">
                                    {{if friendNickname=='' ||friendNickname ==null}}
                                        <input type="text" value="{{:friendedUserName}}">
                                    {{else}}
                                        <input type="text" value="{{:friendNickname}}">
                                    {{/if}}
                                    </div>
                                    <div class="col-md-3 col-md-offset-4" style="text-align:right">
                                        <a href="#" class="delFriend" friendId={{:fridendId}} style="margin-right:15px">删除</a>
                                        <a href="#" class="editFriend" style="margin-right:15px">修改</a>
                                    </div>
                                </div>
                                </li>
                                {{/for}}
                                </script>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--收藏-->
                    <div class="edit" id="collectInfo" style="display: none">
                        <h1>收藏列表</h1>
                        <div>
                            <a href="#" class="getCollectByType" collectType="">全部收藏</a>
                            <a href="#" class="getCollectByType" collectType="0">收藏店铺</a>
                            <a href="#" class="getCollectByType" collectType="1">收藏商品</a>
                            <a href="#" class="getCollectByType" collectType="2">收藏文章</a>
                        </div>
                        <div style="margin-left: 21px">
                            <table class="table-responsive table table-hover">
                                <colgroup>
                                    <col width="14">
                                    <col width="18%">
                                    <col width="18%">
                                    <col width="18%">
                                    <col width="30%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>收藏编号</td>
                                    <td>收藏名</td>
                                    <td>收藏备注</td>
                                    <td>收藏时间</td>
                                    <td style="text-align: center">操作（删除/修改备注）</td>
                                </tr>
                                </thead>
                                <tbody id="collectInfoShow">
                                <tr>
                                    <td>1</td>
                                    <td>收藏1</td>
                                    <td>收藏备注1</td>
                                    <td>时间</td>
                                    <td style="text-align: center">
                                        <button>删除</button>
                                        <button style="margin-left: 20px">修改</button>
                                    </td>
                                </tr >
                                </tbody>
                                <script id="collectInfoTmpl" type="text/x-jsrender">
                                    <tr>
                                    {{for}}
                                    <td>{{:#getIndex()+1}}</td>
                                    <td>{{:collectionExt}}</td>
                                    <td>{{:collectionRemark}}</td>
                                    <td>{{:collectionime}}</td>
                                    <td style="text-align: center">
                                        <button class="delCollect" collectionId="{{:collectionId}}">删除</button>
                                        <button style="margin-left: 20px">修改</button>
                                    </td>
                                    {{/for}}
                                </tr>
                                </script>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            </div>

</div>

<!--底部-->
<footer class="footer" style="margin-top: 30px">
    <div class="container">
        <div class="col-md-6">
            <h1>心晴社区分享电商平台</h1>
            <p>我们一直致力于追求更好</p>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h4>关于我们</h4>
                <ul class="list-unstyled">
                    <li>关于我们</li>
                    <li>友情链接</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>联系方式</h4>
                <ul class="list-unstyled">
                    <li><a href="">电话</a></li>
                    <li><a href="">电子邮箱</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>赞助商</h4>
                <ul class="list-unstyled">
                    <li><a href="">心晴</a></li>
                    <li><a href="">6034</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="../../js/util/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../js/util/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="application/javascript" src="../../js/util/require-2.3.6.js"></script>
<script type="text/javascript" src="../../js/util/jquery/jquery.params.js"></script>
<script type="application/javascript" src="../../js/module/front/LogOn.js"></script>
<!--<script type="application/javascript" src="../../js/module/front/productDetail.js"></script>-->
<script type="text/javascript" src="../../js/util/seajs/2.3.0/dist/sea.js"></script>
<script>
    //商品数量改变
//    $(function(){
//        $("#addCount").click(function(){
//            var count = $("#proCount").val();
//            if(count>=99){
//                count=99;
//            }else{
//                count++;
//            }
//            $("#proCount").val(count) ;
//        });
//        $("#subCount").click(function () {
//            var count = $("#proCount").val();
//            if(count<=1){
//                count=1;
//            }else{
//                count--;
//            }
//            $("#proCount").val(count);
//        })
//    });
    seajs.config({
        base:"/EBusiness/js/",
        alias:{
            'jquery':'util/jquery/1.9.1/jquery',
        },
        charset:'utf-8',
    });
    seajs.use(['module/front/userCenter'],function (userCenter) {})
</script>


</body>
</html>