<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.EBusiness.dao.interfaces.UserLevelMapper" >
  <resultMap id="BaseResultMap" type="com.EBusiness.dao.bo.UserLevel" >
    <result column="user_level_id" property="userLevelId" jdbcType="INTEGER" />
    <result column="user_level_low_score" property="userLevelLowScore" jdbcType="INTEGER" />
    <result column="user_level_high_score" property="userLevelHighScore" jdbcType="INTEGER" />
    <result column="user_level_name" property="userLevelName" jdbcType="VARCHAR" />
    <result column="user_level_ext" property="userLevelExt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_level_id, user_level_low_score, user_level_high_score, user_level_name, user_level_ext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.EBusiness.dao.bo.UserLevelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.EBusiness.dao.bo.UserLevelExample" >
    delete from user_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.EBusiness.dao.bo.UserLevel" >
    insert into user_level (user_level_id, user_level_low_score, user_level_high_score, 
      user_level_name, user_level_ext)
    values (#{userLevelId,jdbcType=INTEGER}, #{userLevelLowScore,jdbcType=INTEGER}, #{userLevelHighScore,jdbcType=INTEGER}, 
      #{userLevelName,jdbcType=VARCHAR}, #{userLevelExt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.EBusiness.dao.bo.UserLevel" >
    insert into user_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userLevelId != null" >
        user_level_id,
      </if>
      <if test="userLevelLowScore != null" >
        user_level_low_score,
      </if>
      <if test="userLevelHighScore != null" >
        user_level_high_score,
      </if>
      <if test="userLevelName != null" >
        user_level_name,
      </if>
      <if test="userLevelExt != null" >
        user_level_ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userLevelId != null" >
        #{userLevelId,jdbcType=INTEGER},
      </if>
      <if test="userLevelLowScore != null" >
        #{userLevelLowScore,jdbcType=INTEGER},
      </if>
      <if test="userLevelHighScore != null" >
        #{userLevelHighScore,jdbcType=INTEGER},
      </if>
      <if test="userLevelName != null" >
        #{userLevelName,jdbcType=VARCHAR},
      </if>
      <if test="userLevelExt != null" >
        #{userLevelExt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.EBusiness.dao.bo.UserLevelExample" resultType="java.lang.Integer" >
    select count(*) from user_level
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_level
    <set >
      <if test="record.userLevelId != null" >
        user_level_id = #{record.userLevelId,jdbcType=INTEGER},
      </if>
      <if test="record.userLevelLowScore != null" >
        user_level_low_score = #{record.userLevelLowScore,jdbcType=INTEGER},
      </if>
      <if test="record.userLevelHighScore != null" >
        user_level_high_score = #{record.userLevelHighScore,jdbcType=INTEGER},
      </if>
      <if test="record.userLevelName != null" >
        user_level_name = #{record.userLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.userLevelExt != null" >
        user_level_ext = #{record.userLevelExt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_level
    set user_level_id = #{record.userLevelId,jdbcType=INTEGER},
      user_level_low_score = #{record.userLevelLowScore,jdbcType=INTEGER},
      user_level_high_score = #{record.userLevelHighScore,jdbcType=INTEGER},
      user_level_name = #{record.userLevelName,jdbcType=VARCHAR},
      user_level_ext = #{record.userLevelExt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>