/*首页css*/
/*导航栏*/
.banner{
    /*width: 80px ;*/
    margin: 0;
    padding: 0;
    font-size: large;

}
.navdiv{
    margin-top: 10px;
}
.navulli{
    margin-left: 15px;
    font-size: large;
}
/*弹窗的关闭*/
.signClose{
    cursor: pointer;
    float: right;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 10px;
}

.logIn{
    /*background-image: url("../../../images/background/backgroud.png");*/
    background-color: #e0e0e8;
    text-align: center;
    width: 500px;
    height: 280px;
    text-align: center;
    /*使弹窗位置位于屏幕正中*/
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*显示优先级，使其悬浮于*/
    z-index: 10000;
}
.logIn>div{
    margin-top: 20px;
}
.logIn>div>label{
    vertical-align: middle;
    width: 15%;
    text-align: right;
}
.logIn>div>input{
    vertical-align: middle;
    width: 60%;
    margin-left: 10px;

}
.logIn>div>ul>li{
    float: left;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.shopTablet{
    display: block;
    margin-top: 20px;
}
.shopTabletd{
    width: 200px;
    height: 250px;
    margin-left: -30px;
    text-align: center;
    background-color: #f1ffff;
    /*background-color: red;*/
}
.product-img{
    width: 200px;
    height: 180px;
    /*background-color: #0c87eb;*/
}
#type{
    font-weight: 500;
    font-size: larger;
    color: black;
}
/*显示商品样式*/
.proUl{
    width: 100%;
    margin-left: -20px;
}
.proUl li{
    display: block;
    float: left;
    list-style-type: none;
    width: 200px;
    height: 250px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    cursor: pointer;
}
.proUl a{
    text-decoration: none;
}
.proUl a:hover{
    color: #0c87eb;
}
